extend index
block website_title 
    title  من نحن 
block index
    div(class="sub-banner")
        div(class="container breadcrumb-area")
            div(class="breadcrumb-areas")
                h1 من نحن
                ul(class="breadcrumbs")
                    li
                        a(href="index.html") الرئيسية
                    li(class="active") من نحن
    div(class="about-car")
        div(class="container")
            div(class="row")
                div(class="col-xl-7 col-lg-6 col-md-12 col-sm-12 col-xs-12")
                    div(class="about-text")
                        h3 مرحبا بكم في توب ترافيل 
                        p ناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً
                        p(class="mb-0")  عن استخدام "هنا يوجد محتوى نصي، هنا يوجد محتوى نصي" فتجعلها تبدو (أي الأحرف) وكأنها نص مقروء. العديد من برامح النشر المكتبي وبرامح تحرير صفحات الويب تستخدم لوريم إيبسوم بشكل إفتراضي كنموذج عن النص، وإذا قمت بإدخال "lorem ipsum" في أي محرك بحث ستظهر العديد من المواقع الحديثة العهد في نتائج البحث. على مدى السنين ظهرت نسخ جديدة ومختلفة من نص لوريم إيبسوم، أحياناً عن طريق الصدفة، وأحياناً عن عمد كإدخال بعض العبارات الفكاهية إليها.
                div(class="col-xl-5 col-lg-6 col-md-12 col-sm-12 col-xs-12")
                    div(class="about-slider-box simple-slider")
                        div(class="slick-slider-area")
                            div(class="row slick-carousel",  dir="ltr" data-slick='{"slidesToShow": 1,"autoplay":true,"autoplaySpeed":2000, "dots": true, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 1}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}')
                                div(class="slick-slide-item")
                                    img(class="d-block w-100", src="../assets/img/tours/luxor-3.jpeg", alt="about")
                                div(class="slick-slide-item")
                                    img(class="d-block w-100", src="../assets/img/tours/luxor-4.jpeg", alt="about")
                                div(class="slick-slide-item")
                                    img(class="d-block w-100", src="../assets/img/tours/luxor-5.jpeg", alt="about")        

    // Service section start
    div(class="service-section content-area-2")
        div(class="container")
            // Main title
            div(class="main-title text-center")
                h1 نحن الافضل 
                p هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص
            div(class="row")
                div(class="col-lg-3 col-md-6 col-sm-12")
                    div(class="service-info-2")
                        div(class="icon")
                            i(class="flaticon-shield")
                        div(class="detail")
                            h3 امان وخصوصية
                            p هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص
                            
                div(class="col-lg-3 col-md-6 col-sm-12")
                    div(class="service-info-2")
                        div(class="icon")
                            i(class="flaticon-deal")
                        div(class="detail")
                            h3 رحلات متميزة
                            p هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص
                            
                div(class="col-lg-3 col-md-6 col-sm-12")
                    div(class="service-info-2")
                        div(class="icon")
                            i(class="flaticon-money")
                        div(class="detail")
                            h3 عروض ممتازة
                            p هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص
                            
                div(class="col-lg-3 col-md-6 col-sm-12")
                    div(class="service-info-2")
                        div(class="icon")
                            i(class="flaticon-support-2")
                        div(class="detail")
                            h3 دعم كامل
                            p هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص
                            
                //- div(class="col-lg-12 text-center")
                //-     a(class="btn-4", href="services.html")
                //-         span Learn More
                //-         i(class="arrow")
    // Service section end


    div(class="partners")
        div(class="main-title text-center")
            h1 باقة شكر لمجموعة من شركاء نجاحنا
            p  عن استخدام "هناك يوجد محتوى نصي، هنا يوجد محتوى نصي" فتجعلها تبدو (أي الأحرف) وكأنها نص مقروء. العديد من برامح النشر المكتبي وبرامح تحرير صفحات الويب تستخدم      
        div(class="container")
            div(class="slick-slider-area")
                div(class="row slick-carousel",dir="ltr" data-slick='{"slidesToShow": 5, "autoplay":true,"autoplaySpeed":2000 "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 3}}, {"breakpoint": 768,"settings":{"slidesToShow": 2}}]}')
                    div(class="slick-slide-item")
                        img(src="../assets/img/brand/brand-1.png", alt="brand", class="img-fluid")
                    div(class="slick-slide-item")
                        img(src="../assets/img/brand/brand-2.png", alt="brand", class="img-fluid")
                    div(class="slick-slide-item")
                        img(src="../assets/img/brand/brand-3.png", alt="brand", class="img-fluid")
                    div(class="slick-slide-item")
                        img(src="../assets/img/brand/brand-4.png", alt="brand", class="img-fluid")
                    div(class="slick-slide-item")
                        img(src="../assets/img/brand/brand-1.png", alt="brand", class="img-fluid")
                    div(class="slick-slide-item")
                        img(src="../assets/img/brand/brand-2.png", alt="brand", class="img-fluid")
                    div(class="slick-slide-item")
                        img(src="../assets/img/brand/brand-3.png", alt="brand", class="img-fluid")
                    div(class="slick-slide-item")
                        img(src="../assets/img/brand/brand-4.png", alt="brand", class="img-fluid")
    // Partners end
    // Service section start
