extend index
block website_title 
    title  الدفع 
block index
    div(class="sub-banner")
        div(class="container breadcrumb-area")
            div(class="breadcrumb-areas")
                h1 الدفع
                ul(class="breadcrumbs")
                    li
                        a(href="index.html") الرئيسية
                    li(class="active") الدفع
    div(class="shop-checkout content-area-5")
        div(class="container")
            div(class="from-checkout")
                div(class="row")
                    div(class="col-lg-6 col-md-12")
                        div(class="heading-4")
                            h4 تفاصيل الدفع 
                        form(action="#", method="GET", enctype="multipart/form-data")
                            div(class="row")
                                div(class="col-md-6")
                                    div(class="form-group")
                                        input(type="text", class="form-control", placeholder=" الاسم الاول")
                                div(class="col-md-6")
                                    div(class="form-group")
                                        input(type="text", class="form-control", placeholder="الاسم الاخير")
                            div(class="form-group")
                                input(type="text", class="form-control", placeholder="الشركة")
                            div(class="form-group")
                                input(type="text", class="form-control", placeholder="العنوان ")
                            div(class="form-group")
                                input(type="text", class="form-control", placeholder="المدينة")
                            div(class="form-group")
                                input(type="text", class="form-control", placeholder="البلد")
                            div(class="row")
                                div(class="col-md-6")
                                    div(class="form-group")
                                        input(type="text", class="form-control", placeholder="الرمز البريدي ")
                                div(class="col-md-6")
                                    div(class="form-group")
                                        input(type="text", class="form-control", placeholder="رقم الهاتف")
                        br
                    div(class="col-lg-6 col-md-12")
                        div(class="cart-total-box")
                            h5 الاجمالي
                            hr
                            ul
                                li
                                    | الاجمالي
                                    span(class="pull-right") $170.00
                                li
                                    | قيمة الضريبة
                                    span(class="pull-right") $234.00
                                li
                                    | قيمة الضريبة
                                    span(class="pull-right") $334
                                li
                                    | قيمة الضريبة
                                    span(class="pull-right") $1234
                                li
                                    | اضافات
                                    span(class="pull-right") $652
                            hr
                            p(class="mar-b-50")
                                | الاجمالي الكلي
                                span(class="pull-right") $9531
                            br
                            button(class="btn btns-black btn-block btn-md", type="submit") تحديث السلة
                            button(class="btn  btn-block btn-md button-theme", type="submit") الدفع
                        br
                div(class="row")
                    div(class="col-lg-6 col-md-12")
                        div(class="our-payment")
                            div(class="payment-box mb-40")
                                label(class="form-check-label")
                                    input(type="checkbox", class="form-check-input")
                                    | تحويل بنكي
                                p هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "هنا يوجد محتوى نصي،
                            div(class="payment-box mb-40")
                                label(class="form-check-label")
                                    input(type="checkbox", class="form-check-input")
                                    | تحويل بنكي
                                p هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "هنا يوجد محتوى نصي،
                            div(class="payment-box mb-0")
                                label(class="form-check-label")
                                    input(type="checkbox", class="form-check-input")
                                    | تحويل بنكي
                                p هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "هنا يوجد محتوى نصي،
                    
                    