footer(class="footer overview-bgi")
    div(class="container footer-inner")
        div(class="row")
            div(class="col-xl-3 col-lg-3 col-md-6 col-sm-6")
                div(class="footer-item clearfix")
                    img(src="../assets/img/logos/Logo-Top-Agency-Travel-1.png", width="30%" height="auto" alt="logo", class="f-logo")
                    div(class="s-border")
                    div(class="m-border")
                    div(class="social-list-2")
                        ul
                            li
                                a(href="#", class="facebook-bg")
                                    i(class="fa fa-facebook")
                            li
                                a(href="#", class="twitter-bg")
                                    i(class="fa fa-twitter")
                            li
                                a(href="#", class="google-bg")
                                    i(class="fa fa-google-plus")
                            li
                                a(href="#", class="linkedin-bg")
                                    i(class="fa fa-linkedin")
            div(class="col-xl-3 col-lg-3 col-md-6 col-sm-6")
                div(class="footer-item clearfix")
                    h4
                        | معلومات التواصل
                    div(class="s-border")
                    div(class="m-border")
                    ul(class="contact-info")
                        li
                            i(class="flaticon-pin")
                            | Egypt :Red sea , Hurghada Sgaeraton Road , El Hadaba , Building Nr. 9 Flat Nr. 8
                        li
                            i(class="flaticon-mail")
                            a(href="mailto:info@topagencytravel.com") info@topagencytravel.com
                        li
                            i(class="flaticon-phone")
                            a(href="tel:+201098563744") +201098563744
                        li
                            i(class="flaticon-fax")
                            | +201098563744
            div(class="col-xl-2 col-lg-2 col-md-6 col-sm-6")
                div(class="footer-item")
                    h4
                        | روابط 
                    div(class="s-border")
                    div(class="m-border")
                    ul(class="links")
                        li
                            a(href="#")
                                i(class="fa fa-angle-left")
                                | الرئيسية
                        li
                            a(href="about.html")
                                i(class="fa fa-angle-left")
                                | من نحن 
                        li
                            a(href="search-tours.html")
                                i(class="fa fa-angle-left")
                                | بحث
                        li
                            a(href="tour-page.html")
                                i(class="fa fa-angle-left")
                                | تفاصيل الرحلة      
                        li
                            a(href="contact.html")
                                i(class="fa fa-angle-left")
                                | تواصل معانا
            div(class="col-xl-3 col-lg-3 col-md-6 col-sm-6")
                div(class="footer-item clearfix")
                    h4 سجل معانا
                    div(class="s-border")
                    div(class="m-border")
                    div(class="Subscribe-box")
                        p للحصول علي اخر الاخبار
                        form(class="form-inline", action="#", method="GET")
                            input#inlineFormInputName3(type="text", class="form-control mb-sm-0", placeholder="البريد الالكتروني")
                            button(type="submit", class="btn")
                                i(class="fa fa-paper-plane")
    div(class="sub-footer")
        div(class="container")
            div(class="row")
                div(class="col-lg-12")
                    p(class="copy") © 2021 
                        a(href="#")  جميع الحقوق محفوظة  TopAgencyTravel
                        | 
                
                    
// Full Page Search
#full-page-search
    button(type="button", class="close") ×
    form(action="index.html#")
        input(type="search", value="", placeholder="type keyword(s) here")
        button(type="submit", class="btn btn-sm button-theme") بحث
// Car Overview Modal
div(class="car-model-2")
    #carOverviewModal(class="modal fade", tabindex="-1", role="dialog", aria-labelledby="carOverviewModalLabel", aria-hidden="true")
        div(class="modal-dialog modal-lg", role="document")
            div(class="modal-content")
                div(class="modal-header")
                    #carOverviewModalLabel(class="modal-title")
                        h4 Find Your Dream Car
                        h5
                            i(class="flaticon-pin")
                            | 123 Kathal St. Tampa City,
                    button(type="button", class="close", data-dismiss="modal", aria-label="Close")
                        span(aria-hidden="true") x
                div(class="modal-body")
                    div(class="row modal-raw")
                        div(class="col-lg-6 modal-left")
                            div(class="item active")
                                img(src="../assets/img/car-11.jpg", alt="best-car", class="img-fluid")
                                div(class="sobuz")
                                    div(class="price-box")
                                        span(class="del")
                                            del $950.00
                                        br
                                        span(class="del-2") $1050.00
                                    div(class="ratings-2")
                                        span(class="ratings-box") 4.5/5
                                        i(class="fa fa-star")
                                        i(class="fa fa-star")
                                        i(class="fa fa-star")
                                        i(class="fa fa-star")
                                        i(class="fa fa-star-o")
                                        | ( 7 Reviews )
                        div(class="col-lg-6 modal-right")
                            div(class="modal-right-content")
                                section
                                    h3 Features
                                    div(class="features")
                                        ul(class="bullets")
                                            li Cruise Control
                                            li Airbags
                                            li Air Conditioning
                                            li Alarm System
                                            li Audio Interface
                                            li CDR Audio
                                            li Seat Heating
                                            li ParkAssist
                                section
                                    h3 Overview
                                    ul(class="bullets")
                                        li Model
                                        li Year
                                        li Condition
                                        li Price
                                        li Audi
                                        li 2020
                                        li Brand New
                                        li $178,000
                                div(class="description")
                                    h3 Description
                                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard.
                                    a(href="car-details.html", class="btn btn-md btn-round btn-theme") Show Detail
