link(href="../assets/css/bootstrap.min.css", rel="stylesheet")
link(href="../assets/css/animate.min.css", rel="stylesheet")
link(href="../assets/css/bootstrap-submenu.css", rel="stylesheet")
link(href="../assets/css/bootstrap-select.min.css", rel="stylesheet")
link(href="../assets/css/magnific-popup.css", rel="stylesheet")
link(href="../assets/fonts/font-awesome/css/font-awesome.min.css", rel="stylesheet")
link(href="../assets/fonts/flaticon/font/flaticon.css", rel="stylesheet")
link(href="../assets/fonts/linearicons/style.css", rel="stylesheet")
link(href="../assets/css/jquery.mCustomScrollbar.css", rel="stylesheet")
link(href="../assets/css/dropzone.css", rel="stylesheet")
link(href="../assets/css/slick.css", rel="stylesheet")
link(href="../assets/css/lightbox.min.css", rel="stylesheet")
link(href="../assets/css/jnoty.css", rel="stylesheet")
link(href="../assets/css/sidebar.css", rel="stylesheet")
link(href="../assets/css/style.css", rel="stylesheet")
link(href="../assets/css/skins/default.css",id="style_sheet", rel="stylesheet")
link(href="../assets/css/custom.css",id="style_sheet", rel="stylesheet")
link(href="../assets/css/ie10-viewport-bug-workaround.css", rel="stylesheet")
link(href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"  rel="stylesheet")
script(src="../assets/js/ie-emulation-modes-warning.js")







 