extend index
block website_title 
    title  Gallery 
block index
    div(class="sub-banner")
        div(class="container breadcrumb-area")
            div(class="breadcrumb-areas")
                h1 Gallery
                ul(class="breadcrumbs")
                    li
                        a(href="index.html") Home
                    li(class="active") Gallery
    div(class="photo-gallery content-area-13")
        div(class="container")
            // Main title
            div(class="main-title mt2")
                h1 Gallery
                div(class="list-inline-listing")
                    ul(class="filters filteriz-navigation clearfix")
                        li(class="active btn filtr-button filtr", data-filter="all") All
                        li(data-filter="1", class="btn btn-inline filtr-button filtr") Apartment
                        li(data-filter="2", class="btn btn-inline filtr-button filtr") House
                        li(data-filter="3", class="btn btn-inline filtr-button filtr") Office
            div(class="row filter-portfolio")
                div(class="cars")
                    div(class="col-lg-4 col-md-6 col-sm-12 filtr-item", data-category="3")
                        div(class="portfolio-item")
                            a(href="assets/img/car/car-1.jpg", title="Toyota Prius")
                                img(src="assets/img/car/car-1.jpg", alt="gallery-photo", class="img-fluid")
                            div(class="portfolio-content")
                                div(class="portfolio-content-inner")
                                    p Toyota Prius
                    div(class="col-lg-4 col-md-6 col-sm-12 filtr-item", data-category="3, 2, 1")
                        div(class="portfolio-item")
                            a(href="assets/img/car/car-2.jpg", title="2017 Ford Mustang")
                                img(src="assets/img/car/car-2.jpg", alt="gallery-photo", class="img-fluid")
                            div(class="portfolio-content")
                                div(class="portfolio-content-inner")
                                    p 2017 Ford Mustang
                    div(class="col-lg-4 col-md-6 col-sm-12 filtr-item", data-category="1, 2")
                        div(class="portfolio-item")
                            a(href="assets/img/car/car-3.jpg", title="Lexus GS F")
                                img(src="assets/img/car/car-3.jpg", alt="gallery-photo", class="img-fluid")
                            div(class="portfolio-content")
                                div(class="portfolio-content-inner")
                                    p Lexus GS F
                    div(class="col-lg-4 col-md-6 col-sm-12 filtr-item", data-category="3, 2")
                        div(class="portfolio-item")
                            a(href="assets/img/car/car-4.jpg", title="Toyota Prius specs")
                                img(src="assets/img/car/car-4.jpg", alt="gallery-photo", class="img-fluid")
                            div(class="portfolio-content")
                                div(class="portfolio-content-inner")
                                    p Toyota Prius specs
                    div(class="col-lg-4 col-md-6 col-sm-12 filtr-item", data-category="2, 1")
                        div(class="portfolio-item")
                            a(href="assets/img/car/car-5.jpg", title="Hyundai Santa")
                                img(src="assets/img/car/car-5.jpg", alt="gallery-photo", class="img-fluid")
                            div(class="portfolio-content")
                                div(class="portfolio-content-inner")
                                    p Hyundai Santa
                    div(class="col-lg-4 col-md-6 col-sm-12 filtr-item", data-category="3, 1")
                        div(class="portfolio-item")
                            a(href="assets/img/car/car-6.jpg", title="Audi Q7 2018")
                                img(src="assets/img/car/car-6.jpg", alt="gallery-photo", class="img-fluid")
                            div(class="portfolio-content")
                                div(class="portfolio-content-inner")
                                    p Audi Q7 2018
                    div(class="col-lg-4 col-md-6 col-sm-12 filtr-item", data-category="3, 2, 1")
                        div(class="portfolio-item")
                            a(href="assets/img/car/car-2.jpg", title="2017 Ford Mustang")
                                img(src="assets/img/car/car-2.jpg", alt="gallery-photo", class="img-fluid")
                            div(class="portfolio-content")
                                div(class="portfolio-content-inner")
                                    p 2017 Ford Mustang
                    div(class="col-lg-4 col-md-6 col-sm-12 filtr-item", data-category="1, 2")
                        div(class="portfolio-item")
                            a(href="assets/img/car/car-3.jpg", title="Lexus GS F")
                                img(src="assets/img/car/car-3.jpg", alt="gallery-photo", class="img-fluid")
                            div(class="portfolio-content")
                                div(class="portfolio-content-inner")
                                    p Lexus GS F
                    div(class="col-lg-4 col-md-6 col-sm-12 filtr-item", data-category="3, 1")
                        div(class="portfolio-item")
                            a(href="assets/img/car/car-1.jpg", title="Toyota Prius")
                                img(src="assets/img/car/car-1.jpg", alt="gallery-photo", class="img-fluid")
                            div(class="portfolio-content")
                                div(class="portfolio-content-inner")
                                    p Toyota Prius
                    div(class="col-lg-4 col-md-6 col-sm-12 filtr-item", data-category="3, 2")
                        div(class="portfolio-item")
                            a(href="assets/img/car/car-4.jpg", title="Toyota Prius specs")
                                img(src="assets/img/car/car-4.jpg", alt="gallery-photo", class="img-fluid")
                            div(class="portfolio-content")
                                div(class="portfolio-content-inner")
                                    p Toyota Prius specs
                    div(class="col-lg-4 col-md-6 col-sm-12 filtr-item", data-category="2, 1, 3")
                        div(class="portfolio-item")
                            a(href="assets/img/car/car-5.jpg", title="Hyundai Santa")
                                img(src="assets/img/car/car-5.jpg", alt="gallery-photo", class="img-fluid")
                            div(class="portfolio-content")
                                div(class="portfolio-content-inner")
                                    p Hyundai Santa
                    div(class="col-lg-4 col-md-6 col-sm-12 filtr-item", data-category="3, 1, 3")
                        div(class="portfolio-item")
                            a(href="assets/img/car/car-6.jpg", title="Audi Q7 2018")
                                img(src="assets/img/car/car-6.jpg", alt="gallery-photo", class="img-fluid")
                            div(class="portfolio-content")
                                div(class="portfolio-content-inner")
                                    p Audi Q7 2018
                    