extend index
block website_title 
    title  Services 
block index
    div(class="sub-banner")
        div(class="container breadcrumb-area")
            div(class="breadcrumb-areas")
                h1 Services
                ul(class="breadcrumbs")
                    li
                        a(href="index.html") Home
                    li(class="active") Services
    // services-2 start
    div(class="services-2 content-area")
        div(class="container")
            // Main title
            div(class="main-title text-center")
                h1 Our Services
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            div(class="row")
                div(class="col-lg-4 col-md-6 col-sm-12")
                    div(class="single-info")
                        div(class="number") 1
                        div(class="icon")
                            div(class="icon-inner")
                                i(class="flaticon-support-2")
                        h2
                            a(href="services.html") Free Support
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor Lorem
                div(class="col-lg-4 col-md-6 col-sm-12")
                    div(class="single-info")
                        div(class="number") 2
                        div(class="icon")
                            div(class="icon-inner")
                                i(class="flaticon-speed")
                        h2
                            a(href="services.html") Super Fast
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor Lorem
                div(class="col-lg-4 col-md-6 col-sm-12")
                    div(class="single-info")
                        div(class="number") 3
                        div(class="icon")
                            div(class="icon-inner")
                                i(class="flaticon-motor")
                        h2
                            a(href="services.html") Repairing
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor Lorem
                div(class="col-lg-4 col-md-6 col-sm-12")
                    div(class="single-info")
                        div(class="number") 4
                        div(class="icon")
                            div(class="icon-inner")
                                i(class="flaticon-air-conditioner")
                        h2
                            a(href="services.html") AIR conditioning
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor Lorem
                div(class="col-lg-4 col-md-6 col-sm-12")
                    div(class="single-info")
                        div(class="number") 5
                        div(class="icon")
                            div(class="icon-inner")
                                i(class="flaticon-fuel")
                        h2
                            a(href="services.html") Oil Change
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor Lorem
                div(class="col-lg-4 col-md-6 col-sm-12")
                    div(class="single-info")
                        div(class="number") 6
                        div(class="icon")
                            div(class="icon-inner")
                                i(class="flaticon-wheel")
                        h2
                            a(href="services.html") Engine Repair
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor Lorem
    // services-2 end
    div(class="counters-1")
        div(class="container")
            div(class="row")
                div(class="col-lg-3 col-md-6 col-sm-6")
                    div(class="counter-box-1")
                        i(class="flaticon-car")
                        h1(class="counter") 967
                        h5 Total 
                            span Cars
                div(class="col-lg-3 col-md-6 col-sm-6")
                    div(class="counter-box-1")
                        i(class="flaticon-blog")
                        h1(class="counter") 1276
                        h5 Dealer 
                            span Reviews
                div(class="col-lg-3 col-md-6 col-sm-6")
                    div(class="counter-box-1")
                        i(class="flaticon-user")
                        h1(class="counter") 396
                        h5 Happy 
                            span Clients
                div(class="col-lg-3 col-md-6 col-sm-6")
                    div(class="counter-box-1")
                        i(class="flaticon-medal")
                        h1(class="counter") 177
                        h5  award 
                            span winning
    // Counters end
    // Service center strat
    div(class="service-center content-area-5")
        div(class="container")
            div(class="row")
                div(class="col-lg-6")
                    div(class="inside-car service-car")
                        iframe(src="https://www.youtube.com/embed/V7IrnC9MISU", allowfullscreen="")
                div(class="col-lg-6 align-self-center")
                    div(class="best-used-car")
                        h3 Welcome to service center
                        p One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could
                        p(class="mb-0") morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see himself transformed in his bed into a horrible vermin. He lay on his armour-like
    // Service center end
    // Pricing tables start
    div(class="pricing-tables content-area-3")
        div(class="container")
            // Main title
            div(class="main-title text-center")
                h1 Pricing Tables
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            div(class="row")
                div(class="col-xl-4 col-lg-4 col-md-12")
                    div(class="pricing-1 plan")
                        div(class="plan-header")
                            h5 Ultimate Plan
                            p Plan short description
                            div(class="plan-price")
                                sup $
                                | 80
                                span /month
                        div(class="plan-list")
                            ul
                                li
                                    i(class="fa fa-globe")
                                    | Unlimited Websites
                                li
                                    i(class="fa fa-thumbs-up")
                                    | Unlimited Storage
                                li
                                    i(class="fa fa-signal")
                                    | Unlimited Bandwidth
                                li
                                    i(class="fa fa-user")
                                    | 1000 Email Addresses
                                li
                                    i(class="fa fa-star")
                                    | Free domain with annual plan
                                li
                                    i(class="fa fa-rocket")
                                    | 4X Processing Power
                                li
                                    i(class="fa fa-server")
                                    | Premium DNS
                            div(class="plan-button text-center")
                                a(href="#", class="btn pricing-btn") Get Started
                div(class="col-xl-4 col-lg-4 col-md-12")
                    div(class="pricing-1 plan")
                        div(class="plan-header")
                            h5 Deluxe Plan
                            p Plan short description
                            div(class="plan-price")
                                sup $
                                | 80
                                span /month
                        div(class="plan-list")
                            ul
                                li
                                    i(class="fa fa-globe")
                                    | Unlimited Websites
                                li
                                    i(class="fa fa-thumbs-up")
                                    | Unlimited Storage
                                li
                                    i(class="fa fa-signal")
                                    | Unlimited Bandwidth
                                li
                                    i(class="fa fa-user")
                                    | 1000 Email Addresses
                                li
                                    i(class="fa fa-star")
                                    | Free domain with annual plan
                                li
                                    i(class="fa fa-rocket")
                                    | 4X Processing Power
                                li
                                    i(class="fa fa-server")
                                    | Premium DNS
                            div(class="plan-button text-center")
                                a(href="#", class="btn pricing-btn") Get Started
                div(class="col-xl-4 col-lg-4 col-md-12")
                    div(class="pricing-1 plan")
                        div(class="plan-header")
                            h5 Professional Plan
                            p Plan short description
                            div(class="plan-price")
                                sup $
                                | 80
                                span /month
                        div(class="plan-list")
                            ul
                                li
                                    i(class="fa fa-globe")
                                    | Unlimited Websites
                                li
                                    i(class="fa fa-thumbs-up")
                                    | Unlimited Storage
                                li
                                    i(class="fa fa-signal")
                                    | Unlimited Bandwidth
                                li
                                    i(class="fa fa-user")
                                    | 1000 Email Addresses
                                li
                                    i(class="fa fa-star")
                                    | Free domain with annual plan
                                li
                                    i(class="fa fa-rocket")
                                    | 4X Processing Power
                                li
                                    i(class="fa fa-server")
                                    | Premium DNS
                            div(class="plan-button text-center")
                                a(href="#", class="btn pricing-btn") Get Started
    // Pricing tables end
    // Contact 2 start
    div(class="contact-2 content-area-2")
        div(class="container")
            // Main title
            div(class="main-title text-center")
                h1 Service Schedule
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            form(action="#", method="GET", enctype="multipart/form-data")
                div(class="row")
                    div(class="col-lg-7")
                        div(class="row")
                            div(class="col-md-6 text-left")
                                div(class="form-group name")
                                    input(type="text", name="name", class="form-control", placeholder="Name")
                            div(class="col-md-6")
                                div(class="form-group email")
                                    input(type="email", name="email", class="form-control", placeholder="Email")
                            div(class="col-md-6")
                                div(class="form-group subject")
                                    input(type="text", name="subject", class="form-control", placeholder="Subject")
                            div(class="col-md-6")
                                div(class="form-group number")
                                    input(type="text", name="phone", class="form-control", placeholder="Number")
                            div(class="col-md-12")
                                div(class="form-group message")
                                    textarea(class="form-control", name="message", placeholder="Write message")
                            div(class="col-md-12")
                                div(class="send-btn text-center")
                                    button(type="submit", class="btn btn-5") Send Message
                    div(class="col-lg-5")
                        div(class="contact-info-2")
                            div(class="ci-box")
                                div(class="icon")
                                    i(class="flaticon-phone")
                                div(class="detail")
                                    h5 Phone:
                                    p
                                        a(href="#") 0477 8556 552
                            div(class="ci-box")
                                div(class="icon")
                                    i(class="flaticon-mail")
                                div(class="detail")
                                    h5 Email:
                                    p
                                        a(href="#") info@themevessel.com
                            div(class="ci-box")
                                div(class="icon")
                                    i(class="flaticon-earth")
                                div(class="detail")
                                    h5 Web:
                                    p
                                        a(href="#") info@themevessel.com
                            div(class="ci-box mb-0")
                                div(class="icon")
                                    i(class="flaticon-fax")
                                div(class="detail")
                                    h5 Fax:
                                    p
                                        a(href="#") +0477 85X6 552
    // Contact 2 end


